<!DOCTYPE html>
<nav th:fragment="header(activeTab)" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar "
     xmlns:th="http://www.thymeleaf.org">

    <a class="navbar-brand" href="#"><img width="80" src="https://mdbootstrap.com/img/logo/mdb-email.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:class="${activeTab == 'main'}? 'active' : null ">
                <a class="nav-link text-uppercase" href="/index">Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:class="${activeTab == 'blog'}? 'active' : null ">
                <a class="nav-link text-uppercase" href="/blog">Blog</a>
            </li>
        </ul>
        <ul class="nav-bar nav-flex-icons align-middle">
            <li class="nav-item form-inline search">
                <div th:if="${user.authorize} == true">
                    <button type="button" class="btn cyan-text nav-link waves-effect waves-light"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            th:title="#{header.addTag}"
                            id="add_tag">
                        <i class="fa fa-2x fa-plus-circle"></i>
                    </button>
                </div>
                <p th:if="${page.get(search)=='true'}">
                <div th:replace="~{searchTemplate :: search}"></div>
                </p>
                <div th:if="${user.authorize} == true" class="nav-item avatar dropdown show" id="#intro-dm">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                             class="rounded-circle z-depth-0" th:alt="#{header.avatar}">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-secondary view overlay "
                         aria-labelledby="navbarDropdownMenuLink-5">
                        <a class="dropdown-item waves-effect " href="/user/cabinet/statistics"
                           th:text="#{header.cabinet}"></a>
                        <a class="dropdown-item waves-effect " href="/user/" th:href="@{user.id}"
                           th:text="#{header.account}"></a>
                        <a class="dropdown-item waves-effect waves-light" href="/user/modify"
                           th:text="#{header.modify}"></a>
                        <a class="dropdown-item waves-effect waves-light" href="/user/settings"
                           th:text="#{header.settings}"></a>
                        <a class="dropdown-item waves-effect waves-light" href="/user/logout"
                           th:text="#{header.logout}"></a>
                    </div>
                </div>
                <button th:unless="${user.authorize} == true" type="button"
                        class="btn btn-default nav-link waves-effect btn-header-person"
                        data-toggle="modal" data-target="#loginIn" th:text="#{header.singIn}">
                </button>
            </li>
        </ul>
    </div>
</nav>