<!-- Central Modal Medium Success -->
<div th:fragment="success" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
     data-backdrop="false"
     xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog modal-frame modal-bottom modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Body-->
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn" style="color: #00c759;"></i>
                    <p th:text="${message}"></p>
                    <a type="button" class="btn btn-success waves-effect waves-light" data-dismiss="modal">Ok</a>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div th:fragment="update" class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="needs-validation" th:object="${comment}" novalidate id="update_comment">
                <div class="modal-header text-center">
                    <h5 class="modal-title" th:text="#{modal.update}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <div class="form-group shadow-textarea mt-4 col-xl-12">
                        <label for="quickReplyFormComment"></label>
                        <textarea
                                th:field="*{text}"
                                class="form-control z-depth-1"
                                id="quickReplyFormComment"
                                rows="5"
                                required></textarea>
                        <div class="invalid-feedback">
                            <small style="font-size:0.8rem" th:text="#{comment.textInvalidMessage}"></small>
                        </div>
                        <!--TODO: refactored when will added security.-->
                        <input type="hidden" th:attr="name='authorId'" th:value="1">
                        <input type="hidden" th:attr="name='id'" th:value="*{id}">
                        <input type="hidden" th:attr="name='postId'" th:value="*{postId}">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default" id="send_update_comment" type="submit"
                            th:text="#{modal.send}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="addTag" class="modal fade" id="modalTagForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="needs-validation" th:object="${tag}" novalidate id="tag">
                <div class="modal-header text-center">
                    <h5 th:if="${page.get('title')} == 'update'" class="modal-title text-center" th:text="#{modal.updateTag}"></h5>
                    <h5 th:if="${page.get('title')} == 'add'" class="modal-title text-center" th:text="#{modal.addTag}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-group mx-3">
                    <input th:if="${page.get('title')} == 'update'" type="hidden" th:attr="name='id'"
                           th:value="${tag.id}">
                    <div class="md-form mb-5">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="title-tag" th:field="*{title}" class="form-control" required>
                        <label for="title-tag" th:text="#{model.tagName}"></label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default" th:text="#{modal.send}" id="send_tag"></button>
                </div>
            </form>

        </div>
    </div>
</div>

<div th:fragment="dangerModal" class="modal fade" id="dangerModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading" th:text="#{modal.dangerConfirm.title}"></p>
            </div>
            <!--Body-->
            <div class="modal-body">
                <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>
            <!--Footer-->
            <div class="modal-footer flex-center">
                <a id="modal-btn-si" class="btn btn-outline-danger" th:text="#{modal.dangerConfirm.yes}"></a>
                <a type="button" id="modal-btn-no" class="btn  btn-danger waves-effect" data-dismiss="modal" th:text="#{modal.dangerConfirm.no}"></a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<!-- Modal sing in -->
<div th:fragment="modelSingIn" class="modal fade" id="loginIn" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" xmlns:th="http://www.thymeleaf.org">
    <!--Modal: Contact form-->
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header primary-color white-text">
                <h4 class="title">
                    <i class="fa fa-pencil"></i> <span th:text="#{header.singIn}"></span></h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form class="text-center border border-light p-5" method="post">
                    <!-- Material input email -->
                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="email" name="email" id="defaultLoginFormEmail"
                               class="form-control form-control-sm">
                        <label for="defaultLoginFormEmail" th:text="#{singIn.email}"></label>
                    </div>

                    <!-- Material input password -->
                    <div class="md-form form-sm">
                        <i class="fa fa-tag prefix"></i>
                        <input type="password" name="password" id="defaultLoginFormPassword"
                               class="form-control form-control-sm">
                        <label for="defaultLoginFormPassword" th:text="#{singIn.password}"></label>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <!-- Remember me -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label"
                                       for="defaultLoginFormRemember"
                                       th:text="#{singIn.rememberMe}"></label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <p class="font-small blue-text d-flex justify-content-end">
                                <span th:text="#{singIn.forgot}"></span>
                                <a href="#" class="blue-text ml-1"><span th:text="#{singIn.password}"></span>?</a>
                            </p>
                        </div>
                    </div>
                    <div class="text-center mt-4 mb-2">
                        <button class="btn btn-info btn-block my-4 btn-header-person" type="submit"
                                th:text="#{header.singIn}"></button>
                    </div>
                    <!-- Sign in button -->

                    <!-- Register -->
                    <p><span th:text="#{singIn.notRegistration}"></span>
                        <a href="/register">
                            <span th:text="#{singIn.register}"></span>
                        </a>
                    </p>
                    <!-- Social login -->
                    <p th:text="#{singIn.singInForm}"></p>
                    <a class="orange-text mx-2 hoverable sing-icon">
                        <i class="fa fa-facebook  fa-2x"></i>
                    </a>
                    <a type="" class="orange-text mx-2 hoverable sing-icon">
                        <i class="fa fa-twitter  fa-2x"></i>
                    </a>
                    <a type="" class="orange-text mx-2 hoverable sing-icon">
                        <i class="fa fa-linkedin  fa-2x"></i>
                    </a>
                    <a type="" class="orange-text mx-2 hoverable sing-icon">
                        <i class="fa fa-github  fa-2x"></i>
                    </a>
                </form>
            </div>
        </div>
        <!--/.Content-->
    </div>
    <!--/Modal: Contact form-->
</div>