<div th:fragment="post(post)" class="card" xmlns:th="http://www.thymeleaf.org">
    <!--Card image-->
    <div class="view overlay">
        <!--TODO: add image support-->
        <img src="https://mdbootstrap.com/img/Photos/Fluent/img(9).jpg" class="card-img-top " alt="photo">
        <a href="" th:href="'/posts/' + ${post.id}">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--Card content-->
    <div class="card-body ">
        <!--Tags-->
        <div th:replace="~{postFragment::postTags(${post.tags})}"></div>

        <!--Title-->
        <h4 class="card-title font-weight-bold mb-2" th:text="${post.title}"></h4>

        <!--Author-->
        <div th:replace="~{postFragment::postAuthor(${post})}"></div>

        <!--Date of publication-->
        <div th:replace="~{postFragment::postDate(${post.timeOfCreation})}"></div>

        <!--Description-->
        <!--TODO: refactored that description will be in front of card-->
        <p th:text="${post.description}"></p>
        <div class="text-center ">
            <a href="" th:href="'/blog/posts/' + ${post.id}" class="text-primary">
                <button class="btn btn-info btn-read" th:text="#{postFragment.readFull}"></button>
            </a>
        </div>
    </div>
    <div class="card-footer bg-transparent d-flex justify-content-around">
        <div th:replace="~{postFragment::postCommentsCount(${post.commentsCount})}"></div>
        <div th:replace="~{postFragment::postViewsCount(${post.viewsCount})}"></div>
        <div th:replace="~{postFragment::postLikesCount(${post.likesCount})}"></div>
    </div>
</div>

<span th:fragment="postLikesCount(likesCount)" class="text-muted" xmlns:th="http://www.thymeleaf.org">
            <!-- TODO: add count Likes and checked user like post or not-->
    <!--user liked-->
            <a href="/posts/removeLike/">
                <i class="fa fa-heart fa-2x red-text"></i>
                <!--[[${likesCount}]]-->
            </a>

    <!--&lt;!&ndash;user not liked&ndash;&gt;-->
    <!--<a href="blog/post/addLike/">-->
    <!--<i class="fa fa-heart fa-2x"></i>-->
    <!--</a>-->
        </span>
<span th:fragment="postViewsCount(viewsCount)" class="text-muted" xmlns:th="http://www.thymeleaf.org">
     <i class="fa fa-eye fa-2x"></i>
    <!--[[${viewsCount}]]-->
</span>
<span th:fragment="postCommentsCount(commentsCount)" class="text-muted" xmlns:th="http://www.thymeleaf.org">
    <i class="fa fa-comments-o fa-2x"></i>[[${commentsCount}]]
</span>
<a th:fragment="postTags(tags)" th:each="tag : ${tags}" class="h6" href="" th:href="@{posts(tag=${tag.id})}"
   xmlns:th="http://www.thymeleaf.org">
    <strong class="badge ml-1 p-2 my-1" th:classappend="${T(com.blog.model.Color).getRandomCssClassColor()}"
            th:text="${tag.title}">
    </strong>
</a>
<p th:fragment="postAuthor(post)" class="card-subtitle lead" xmlns:th="http://www.thymeleaf.org">Автор:
    <a href="" th:href="'/users/' + ${post.authorId}" class="h6"
       th:text="${post.authorName} + ' ' +${post.authorLastName}">
    </a>
</p>
<p th:fragment="postDate(date)" class="mt-1 " xmlns:th="http://www.thymeleaf.org">
    <strong th:with="df=#{date.format}"><i class="fa fa-clock-o"></i>
        <span th:text="${#temporals.format(date, df)}"></span>
    </strong>
</p>
<div class="container" th:fragment="postsLayout(posts, pagination, page)" xmlns:th="http://www.thymeleaf.org">
    <div class="row wow fadeIn">
        <section class="wow fadeIn" style="visibility: visible; name: fadeIn;">
            <!--Grid row-->
            <div class="row articles">
                <div class="card  col-xl-12 small">
                    <form class="md-form inline row" method="get">
                        <div class="col-xl-1 ">
                            <label for="pagesSize" class="pl-2" th:text="#{blogPosts.showSizePages}"></label>
                        </div>
                        <div class="col-xl-3 mt-xl-2">
                            <div th:replace="~{pager::countPages(${pagination})}" id="pagesSize"></div>
                        </div>
                        <div class="col-xl-2 offset-xl-3">
                            <label for="sort" class="pl-5" th:text="#{blogPosts.sortedBy}"></label>
                        </div>
                        <input type="hidden" name="page" th:value="${pagination.currentPage}">
                        <input type="hidden" name="size" th:value="${pagination.size}">
                        <div class="col-xl-3">
                            <div class="form-group">
                                <select class="custom-select custom-select-lg" name='sort' id="sort">
                                    <option th:selected="${page.get(sort) == null}? 'selected' : null "
                                            th:text="#{blogPosts.selectSort}">
                                    </option>
                                    <option th:selected="${page.get(sort) == 'created_date'}? 'selected' : null "
                                            value="created_date" th:text="#{blogPosts.selectSortByDate}">
                                    </option>
                                    <option th:selected="${page.get(sort) == 'views'}? 'selected' : null "
                                            value="views" th:text="#{blogPosts.selectSortByViews}">
                                    </option>
                                    <option th:selected="${page.get(sort) == 'comments_count'}? 'selected' : null "
                                            value="comments_count" th:text="#{blogPosts.selectSortByComments}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="mt-2 col-xl-12">
                    <div th:replace="~{pager::pager(${pagination})}"></div>
                </div>
                <div th:each="post : ${posts}" class="col-xl-4 col-md-12 mb-4">
                    <!--Card-->
                    <div class="card-deck mt-1">
                        <div th:replace="~{postFragment::post(${post})}"></div>
                    </div>
                    <!--/.Card-->
                </div>
                <div class="mt-2 col-xl-12">
                    <div th:replace="~{pager::pager(${pagination})}"></div>
                </div>
            </div>
        </section>
    </div>
</div>